.match {
    background-color: deepskyblue;
    color: white;
    margin: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

.match-date {
    width: 30%;
}

.match-score {
    width: 70%;
    align-items: center;
    align-content: center;
}
