.rounds {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

.matchday {
    background-color: #E6E7E8;
    border-radius: 10px;
    border: solid 1px #9A9898;
    margin: 5px;
    width: 300px;

    .match:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
